.vagrant/
packer_cache/
/*.box
.project
/*.log
/keys
vagrant-cloud-*
!vagrant-cloud-token.sh
output-virtualbox-ovf/
build_number
build_version
build_time
version
temp/
packages/
distfiles/
/*.checksum
